{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<!-- Header -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">{% trans %}Welcome on{% endtrans %} AuKrowFunding ! <img
                            src="{{ asset('Resources/Logo.svg') }}" style="width: 0.5em;" alt="icon"/></h1>
                <p class="lead mb-5 text-white">{% trans %}Make your project grow to the end with our help{% endtrans %}</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>{% trans %}What We Do{% endtrans %}</h2>
            <hr>
            <p>{% trans %}The purpose of this website is to help you to finance and to grow your project.{% endtrans %}</p>
            <p>{% trans %}To do so, we offer you the possibility of creating a funding pot which can be inflated thanks to generous internautes.{% endtrans %}</p>
            <p>{% trans %}The special feature of our website can allow people to make a free donation !{% endtrans %}</p>
            <p>{% trans %}Indeed, thanks to our partners, users can either donate the amount of their choice or watch a short video. In that case, our partner will reverse you a financial compensation. Moreover, our website propose to users, as well as project leaders, many ways to share projects on social networks.{% endtrans %}</p>
            <a class="btn btn-primary btn-lg" href="{{ path('project_new') }}">{% trans %}Create a project{% endtrans %}
                &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>{% trans %}Contact Us{% endtrans %}</h2>
            <hr>
            <address>
                <strong>{% trans %}AuKrowFunding{% endtrans %}</strong>
                <br>2 rue arc-en-ciel
                <br>74100 Annecy le Vieux, France
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">contact@aukrowfunding.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <article>
        <div id="carouselExampleControls" class="carousel slide p-4" data-ride="carousel">
            <div class="carousel-inner">
                {% for category in Category %}
                    {% if loop.first %}
                        <div class="carousel-item active text-center">
                            <a href="#{{ category.Name }}">{{ category.Name }}</a>
                        </div>
                    {% else %}
                        <div class="carousel-item text-center">
                            <a href="#{{ category.Name }}">{{ category.Name }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev text-dark" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="" aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                <span class="sr-only">{% trans %}Previous{% endtrans %}</span>
            </a>
            <a class="carousel-control-next text-dark" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="" aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                <span class="sr-only">{% trans %}Next{% endtrans %}</span>
            </a>
        </div>
    </article>
    <article>
        {% for category in Category %}
            {% if category.projects|length > 0 %}
                <hr>
                <h3 id="{{ category }}" class="text-center">{{ category }}</h3>
                <hr>
                <article class="projectArticle">
                    <div class="closedProjects projectContainer">
                        {% for project in Projects %}
                            {% if project.categories.contains(category) %}
                                {{ include('project/_project_card.html.twig') }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </article>
{% endblock %}
