{% extends 'base.html.twig' %}

{% block title %}AuKrowFunding {% endblock %}

{% block body %}
    <!-- Header -->
    <header class="bg-primary py-5 mb-5" style="background-image: url({{ asset('Resources/background_pingouin_opacity.png') }}); background-size: cover;">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2">{% trans %}Welcome on{% endtrans %} AuKrowFunding ! <img
                                src="{{ asset('Resources/Logo.svg') }}" style="width: 1em;" alt="icon"/></h1>
                    <p id="about"  class="lead mb-5 text-white">{% trans %}Make your project grow to the end with our help{% endtrans %}</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mb-5">
                <h2>{% trans %}What We Do{% endtrans %}</h2>
                <hr>
                <p>{% trans %}The purpose of this website is to help you to finance and to grow your project.{% endtrans %}</p>
                <p>{% trans %}To do so, we offer you the possibility of creating a funding pot which can be inflated thanks to generous internautes.{% endtrans %}</p>
                <p>{% trans %}The special feature of our website can allow people to make a free donation !{% endtrans %}</p>
                <p>{% trans %}Indeed, thanks to our partners, users can either donate the amount of their choice or watch a short video. In that case, our partner will reverse you a financial compensation. Moreover, our website propose to users, as well as project leaders, many ways to share projects on social networks.{% endtrans %}</p>
                <a class="btn btn-primary btn-lg"
                   href="{{ path('project_new') }}">{% trans %}Create a project{% endtrans %}
                    &raquo;</a>
            </div>
            <div class="col-md-5 mb-5">
                <h2>{% trans %}How it's work ?{% endtrans %}</h2>
                <hr>
                <p>{% trans %}To see and make a donation, you just have to click on a projet.{% endtrans %}</p>
                <p>{% trans %}You can share projects that you want to see it grow on social media as soon as you arrived on the website.{% endtrans %}</p>
                <p>{% trans %}If you want to propose your project or if you want to subscribe to a project to follow its evolution, you will need to create a account. But don't worry, it doesn't take more than a minute!{% endtrans %}</p>
                <p>- {% trans %}On projects the image of the baby auk{% endtrans %} <img
                            src="{{ asset('Resources/bebe_pingouin.svg') }}" style="width: 1em;" alt="icon"/> {% trans %}means that the project is funded at less than 50%{% endtrans %}</p>
                <p>- {% trans %}the adolescent one{% endtrans %} <img
                            src="{{ asset('Resources/ado_pingouin.svg') }}" style="width: 1em;" alt="icon"/> {% trans %}means that the project is funded at more than 50%{% endtrans %}</p>
                <p>- {% trans %}the adult one{% endtrans %}  <img
                            src="{{ asset('Resources/Logo.svg') }}" style="width: 1em;" alt="icon"/> {% trans %}means that the project is totally funded{% endtrans %}</p>
            </div>
            <div class="col-md-3 mb-5">
                <h2>{% trans %}Contact Us{% endtrans %}</h2>
                <hr>
                <address>
                    <strong>{% trans %}AuKrowFunding{% endtrans %}</strong>
                    <br>2 rue arc-en-ciel
                    <br>74100 Annecy le Vieux, France
                </address>
                <address>
                    <p>Phone: (123) 456-7890</p>
                    <p>Email: <a href="mailto:#">contact@aukrowfunding.com</a></p>
                </address>
            </div>
        </div>
        <!-- /.row -->
        <article>
            <div id="carouselExampleControls" class="carousel slide p-4" data-ride="carousel">
                <div class="carousel-inner">
                    {% for category in Category %}
                    {% if loop.first %}
                        <div class="carousel-item active text-center">
                            <a href="#{{ category.Name }}">{{ category.Name }}</a>
                        </div>
                    {% else %}
                        <div class="carousel-item text-center">
                            <a href="#{{ category.Name }}">{{ category.Name }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
                <a class="carousel-control-prev text-dark" href="#carouselExampleControls" role="button"
                   data-slide="prev">
                    <span class="" aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                    <span class="sr-only">{% trans %}Previous{% endtrans %}</span>
                </a>
                <a class="carousel-control-next text-dark" href="#carouselExampleControls" role="button"
                   data-slide="next">
                    <span class="" aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                    <span class="sr-only">{% trans %}Next{% endtrans %}</span>
                </a>
            </div>
        </article>
        <div class="row">
            <div class="col-lg-8">
                <article>
                    {% for category in Category %}
                        {% if category.projects|length > 0 %}
                            <hr>
                            <h3 id="{{ category }}" class="text-center">{{ category }}</h3>
                            <hr>
                            <article class="projectArticle">
                                <div class="closedProjects projectContainer">
                                    {% for project in Projects %}
                                        {% if project.categories.contains(category) %}
                                            {{ include('project/_project_card.html.twig') }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                </article>
            </div>
            {{ include('category/_list_cat.html.twig') }}
        </div>
    </div>
{% endblock %}
