{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 150px;">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign up{% endtrans %}</h1>
                        <div class="d-flex justify-content-end social_icon">
                            <a href="{{ path('connect_facebook_start') }}"><span><i class="fab fa-facebook-square"></i></span></a>
                            <a href="{{ path('connect_google_start') }}"><span><i class="fab fa-google-plus-square"></i></span></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input name="username" type="text" class="form-control"
                                   placeholder="{% trans %}Username{% endtrans %}" value="">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input name="email" type="text" class="form-control"
                                   placeholder="{% trans %}Email{% endtrans %}" value="">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input name="password" type="password" class="form-control"
                                   placeholder="{% trans %}Password{% endtrans %}">
                        </div>
                        <div class="input-group form-group">
                            <input type="submit" value="{% trans %}Sign up{% endtrans %}"
                                   class="btn float-right login_btn">
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <p>{% trans %}Have already an account?{% endtrans %}</p><a
                                    href="{{ path('app_login') }}">{% trans %}Sign In{% endtrans %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
