{% extends 'base.html.twig' %}

{% block title %}{% trans %}Category{% endtrans %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarCategory">
            <ul class="navbar-nav">
                {% for category in categories %}
                    <li class="nav-item ">
                        <a class="nav-link"
                           href="{{ path('category_show', {'id':category.id}) }}">{{ category.Name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCategory" aria-controls="navbarCategory" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <h1>{{ CategorySelected }}</h1>

    <article class="projectArticle">
        <div class="d-inline-flex">
            <a href="{{ path('donation_new') }}"
               class="btn"
               style="margin-left: 30px; background-color: #ffc107; color: white">{% trans %}Donate{% endtrans %}</a>
        </div>
        <div class="closedProjects projectContainer">
            {% for project in Projects %}
                {{ include('project/_project_card.html.twig') }}
            {% endfor %}
        </div>
    </article>

{% endblock %}
