<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AuKrowdFunding!{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">


        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
{% endblock %}
<header>
    <nav class="navbar fixed-top navbar-light bg-light navbar-expand-md">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('Resources/Logo.svg') }}" style="width: 40px" alt="logo">
            AuKrowdFunding</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('project_index') }}">{% trans %}Explore{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('project_new') }}">{% trans %}Create a project{% endtrans %}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <form class="form-inline mr-auto w-100">
                        <label>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        </label>
                        <button class="btn btn-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>
                <li class="nav-item dropdown m-auto">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="dropdown-item" href="{{ path('user_show') }}">{{ app.user.username }}</a>
                            <a class="dropdown-item"
                               href="{{ path('app_logout') }}">{% trans %}Log out{% endtrans %}</a>

                        {% else %}
                            <a class="dropdown-item"
                               href="{{ path('app_login') }}">{% trans %}Connection{% endtrans %}</a>
                            <a class="dropdown-item" href="{{ path('register') }}">{% trans %}Register{% endtrans %}</a>
                            <div class="dropdown-divider"></div>
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item" href="{{ path('connect_facebook_start') }}"><i
                                                class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item" href="{{ path('connect_google_start') }}"><i
                                                class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown m-auto">
                    {% if app.request.locale == 'en' %}
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdown09"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-gb"> </span>
                            English</a>
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span>
                            Français</a>
                    {% endif %}
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="/en"><span class="flag-icon flag-icon-gb"> </span> English</a>
                        <a class="dropdown-item" href="/fr"><span class="flag-icon flag-icon-fr"> </span> Français</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<article style="margin-top: 100px;">
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"
       title="{% trans %}Click to return on the top page{% endtrans %}" data-toggle="tooltip"
       data-placement="left"><span class="fas fa-arrow-up"></span></a>
    {% block body %}
    {% endblock %}
</article>
{% block footer %}
    <!-- Footer -->
    <footer class="page-footer font-small indigo">

        <!-- Footer Links -->
        <div class="container-fluid">

            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#">{% trans %}About us{% endtrans %}</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#">{% trans %}Help{% endtrans %}</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#">{% trans %}Contact{% endtrans %}</a>
                    </h6>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="rgba-white-light" style="margin: 0 15%;">

            <!-- Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                <!-- Grid column -->
                <div class="col-md-8 col-12 mt-5">
                    <div class="mb-5 flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text"> </i>
                        </a>

                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> AuKrowdFunding</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
{% endblock %}
</body>
</html>
