{% extends 'base.html.twig' %}

{% block title %}{% trans %}Tag index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Tag index{% endtrans %}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.Name }}</td>
                <td>
                    <a href="{{ path('tag_show', {'id': tag.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('tag_edit', {'id': tag.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tag_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
