{% extends 'base.html.twig' %}

{% block title %}{% trans %}All project to support{% endtrans %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            {% for category in Category %}
                <li class="nav-item">
                    <a class="nav-link" href="">{{ category.Name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <article>
        <div class="closedProjects">
            <h2>Close to be financed</h2>
            {% for project in CloseProjects %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ project.miniature }}" alt="miniature of {{ project.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="lovedProjects">
            <h2>Most loved projects</h2>
            {% for project in LovedProjects %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ project.miniature }}" alt="miniature of {{ project.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </article>

{% endblock %}
