{% extends 'base.html.twig' %}

{% block title %}{% trans %}Project index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Project index{% endtrans %}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Goal</th>
            <th>LimitDate</th>
            <th>Report</th>
            <th>Up</th>
            <th>Down</th>
            <th>Description</th>
            <th>Miniature</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.Title }}</td>
                <td>{{ project.Goal }}</td>
                <td>{{ project.LimitDate ? project.LimitDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.Report }}</td>
                <td>{{ project.Up }}</td>
                <td>{{ project.down }}</td>
                <td>{{ project.Description }}</td>
                <td>{{ project.Miniature }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
