{% extends 'base.html.twig' %}

{% block title %}{% trans %}All project to support{% endtrans %}{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-primary sticky-top mt-5 border-bottom">
    <div class="collapse navbar-collapse" id="navbarCategory">
        <ul class="navbar-nav w-100">
            {% for category in Category %}
                <li class="nav-item ">
                    <a class="nav-link"
                       href="{{ path('category_show', {'id':category.id}) }}">{{ category.Name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCategory" aria-controls="navbarCategory" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="w-100">
            <div id="carouselExampleIndicators" class="carousel slide my-4 w-100 d-flex" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for i in 0..2 %}
                        {% if i == 0 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner d-flex m-auto" role="listbox" style="height: 500px;">
                    {% for i in 0..2 %}
                        {% if i == 0 %}
                            <div class="carousel-item active m-auto">
                                <a href="{{ path('project_show', {'id': LovedProjects[i].id }) }}"><img
                                            class="d-block img-fluid m-auto" src="{{ LovedProjects[i].miniature }}"
                                            alt="First slide"></a>
                            </div>
                        {% else %}
                            <div class="carousel-item m-auto">
                                <a href="{{ path('project_show', {'id': LovedProjects[i].id }) }}"><img
                                            class="d-block img-fluid m-auto" src="{{ LovedProjects[i].miniature }}"
                                            alt="slide"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <article class="projectArticle">
        <div class="d-inline-flex">
            <h2>{% trans %}Close to be financed{% endtrans %}</h2>
            <a href="{{ path('donation_new') }}" class="btn btn-bg-secondary ml-3">{% trans %}Donate{% endtrans %}</a>
        </div>
        <div class="closedProjects projectContainer">
            {% for project in CloseProjects %}
                {{ include('project/_project_card.html.twig') }}
            {% endfor %}
        </div>
        <div class="d-inline-flex">
            <h2>{% trans %}Most loved projects{% endtrans %}</h2>
            <a href="{{ path('donation_new') }}" class="btn btn-bg-secondary ml-3">{% trans %}Donate{% endtrans %}</a>
        </div>
        <div class="lovedProjects projectContainer">

            {% for project in LovedProjects %}
                {{ include('project/_project_card.html.twig') }}
            {% endfor %}
        </div>
    </article>

    {% endblock %}
