{% extends 'base.html.twig' %}

{% block title %}{% trans %}All project to support{% endtrans %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link navCategories" href="">All</a>
            {% for category in Category %}
                <li class="nav-item navCategories">
                    <a class="nav-link" href="">{{ category.Name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <article class="projectArticle">
        <h2>Close to be financed</h2>
        <div class="closedProjects projectContainer">
            {% for project in CloseProjects %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ project.miniature }}" alt="miniature of {{ project.title }}"
                         style="height: 12em">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.goal - project.rest }} / {{ project.goal }}€</p>
                        <div class="d-inline-flex">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-primary">Read
                                    More</a>
                                <div class="d-inline-flex">
                                    {% if app.user.isProjectLiked(project) %}
                                        <i data-id="{{ project.id }}" data-up="1"
                                           data-url="{{ path('project_unlike', {'id': project.id}) }}"
                                           class="unup fas fa-thumbs-up  text-primary"></i>
                                    {% else %}
                                        <i data-id="{{ project.id }}" data-up="1"
                                           data-url="{{ path('project_like', {'id': project.id}) }}"
                                           class="up fas fa-thumbs-up"></i>
                                    {% endif %}
                                    <p class="upNB">{{ project.likep.count }}</p>
                                </div>

                                    {% if app.user.isProjectDisliked(project) %}
                                        <i data-id="{{ project.id }}" data-up="0"
                                           data-url="{{ path('project_undislike', {'id': project.id}) }}"
                                           class="undown fas fa-thumbs-down text-danger"></i>
                                    {% else %}
                                        <i data-id="{{ project.id }}" data-up="0"
                                           data-url="{{ path('project_dislike', {'id': project.id}) }}"
                                           class="down fas fa-thumbs-down"></i>
                                    {% endif %}

                                    <p class="downNB">{{ project.down }}</p>
                                {% if app.user.isProjectSubscribe(project) %}
                                    <i data-up="2" class="unsub fas fa-bookmark text-info"
                                       data-url="{{ path('project_unsub', {'id': project.id}) }}"></i>
                                {% else %}
                                    <i data-up="2" class="sub fas fa-bookmark"
                                       data-url="{{ path('project_sub', {'id': project.id}) }}"></i>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-primary">Read
                                    More</a>
                                <div class="d-inline-flex">
                                    <a onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')"><i
                                                class="fas fa-thumbs-up"
                                                onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')"></i></a>
                                    <p>{{ project.up }}</p>
                                </div>
                                <div class="d-inline-flex">
                                    <a onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')"><i
                                                class="fas fa-thumbs-down"></i></a>
                                    <p onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')">{{ project.down }}</p>
                                </div>
                                <a onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')"><i
                                            class="fas fa-bookmark"></i></a>
                            {% endif %}
                        </div>
                <!-- TODO - Condition a faire pour changer image en fonction de la cagnotte (quand on l'aura) !-->
                        <img src="{{ asset('Resources/bebe_pingouin.svg') }}" alt="pingouin" style="width: 50px">
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>Most loved projects</h2>
        <div class="lovedProjects projectContainer">
            {% for project in LovedProjects %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ project.miniature }}" alt="miniature of {{ project.title }}"
                         style="height: 12em">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.goal - project.rest }} / {{ project.goal }}€</p>
                        <div class="d-inline-flex">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-primary">Read
                                    More</a>
                                <div class="d-inline-flex">
                                    {% if app.user.isProjectLiked(project) %}
                                        <i data-id="{{ project.id }}" data-up="1"
                                           data-url="{{ path('project_unlike', {'id': project.id}) }}"
                                           class="unup fas fa-thumbs-up  text-primary"></i>
                                    {% else %}
                                        <i data-id="{{ project.id }}" data-up="1"
                                           data-url="{{ path('project_like', {'id': project.id}) }}"
                                           class="up fas fa-thumbs-up"></i>
                                    {% endif %}
                                    <p class="upNB">{{ project.likep.count }}</p>
                                </div>

                                <div class="d-inline-flex">
                                    {% if app.user.isProjectDisliked(project) %}
                                        <i data-id="{{ project.id }}" data-up="0"
                                           data-url="{{ path('project_undislike', {'id': project.id}) }}"
                                           class="undown fas fa-thumbs-down text-danger"></i>
                                    {% else %}
                                        <i data-id="{{ project.id }}" data-up="0"
                                           data-url="{{ path('project_dislike', {'id': project.id}) }}"
                                           class="down fas fa-thumbs-down"></i>
                                    {% endif %}

                                    <p class="downNB">{{ project.down }}</p>
                                </div>
                                {% if app.user.isProjectSubscribe(project) %}
                                    <i data-up="2" class="unsub fas fa-bookmark text-info"
                                       data-url="{{ path('project_unsub', {'id': project.id}) }}"></i>
                                {% else %}
                                    <i data-up="2" class="sub fas fa-bookmark"
                                       data-url="{{ path('project_sub', {'id': project.id}) }}"></i>
                                    <!-- TODO - Condition a faire pour changer image en fonction de la cagnotte (quand on l'aura) !-->
                                {% endif %}
                            {% else %}
                                <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-primary">Read
                                    More</a>
                                <div class="d-inline-flex">
                                    <a onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')"><i
                                                class="fas fa-thumbs-up"
                                                onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')"></i></a>
                                    <p>{{ project.up }}</p>
                                </div>
                                <div class="d-inline-flex">
                                    <a onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')"><i
                                                class="fas fa-thumbs-down"></i></a>
                                    <p onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')">{{ project.down }}</p>
                                </div>
                                <a onclick="alert('{% trans %}You need to be authenticated for make this action{% endtrans %}')"><i
                                            class="fas fa-bookmark"></i></a>
                            {% endif %}
                        </div>
                        <!-- TODO - Condition a faire pour changer image en fonction de la cagnotte (quand on l'aura) !-->
                        <img src="{{ asset('Resources/bebe_pingouin.svg') }}" alt="pingouin" style="width: 50px">
                    </div>
                </div>
                {% endfor %}
        </div>
    </article>

{% endblock %}
