{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Objectif</th>
            <th>LimitDate</th>
            <th>Report</th>
            <th>Up</th>
            <th>Down</th>
            <th>Description</th>
            <th>Minature</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.Objectif }}</td>
                <td>{{ project.LimitDate ? project.LimitDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.Report }}</td>
                <td>{{ project.Up }}</td>
                <td>{{ project.down }}</td>
                <td>{{ project.Description }}</td>
                <td>{{ project.Minature }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
