{% extends 'base.html.twig' %}

{% block title %}{% trans %}Project{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Project{% endtrans %}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ project.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Goal{% endtrans %}</th>
            <td>{{ project.Goal }}</td>
        </tr>
        <tr>
            <th>{% trans %}LimitDate{% endtrans %}</th>
            <td>{{ project.LimitDate ? project.LimitDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>{% trans %}Report{% endtrans %}</th>
            <td>{{ project.Report }}</td>
        </tr>
        <tr>
            <th>{% trans %}Up{% endtrans %}</th>
            <td>{{ project.likep.count }}</td>
        </tr>
        <tr>
            <th>{% trans %}Down{% endtrans %}</th>
            <td>{{ project.down }}</td>
        </tr>
        <tr>
            <th>{% trans %}Description{% endtrans %}</th>
            <td>{% autoescape %}{{ project.Description|raw }}{% endautoescape %}</td>
        </tr>
        <tr>
            <th>{% trans %}Miniature{% endtrans %}</th>
            <td><img src="{{ project.Miniature }}"/></td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
