{% extends 'base.html.twig' %}

{% block title %}{% trans %}Project{% endtrans %}{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">{{ project.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    {% trans %}by{% endtrans %}
                    <a href="{{ path('user_show', {'id' : project.user.id}) }}">{{ project.user }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>{% trans %}Funding limit{% endtrans %}
                    : {{ project.limitDate|format_datetime('short', 'none', locale=app.request.locale) }}</p>

                <hr>

                <!-- Preview Image -->
                <div>
                    <img class="img-fluid rounded w-100" src="{{ project.miniature }}" alt="project miniature">
                    <div class="progress mt-3">
                        <div class="progress-bar bg-warning" role="progressbar"
                             style="width: {{ (project.goal - project.rest) / project.goal * 100 }}%"
                             aria-valuenow="{{ (project.goal - project.rest) / project.goal * 100 }}"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% if  (project.goal - project.rest) / project.goal  >= 1 %}
                        <h2 class="text-success text-center">{% trans %}100% FUNDED !{% endtrans %}</h2>
                    {% endif %}
                </div>
                <hr>

                <!-- Post Content -->
                <p class="mr-3">
                    <a class="btn btn-primary w-100" data-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        {% trans %}Description{% endtrans %} <i class="fas fa-arrow-circle-down"></i>
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <p class="lead">{{ project.description|raw }}</p>
                    </div>
                </div>

                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">{% trans %}Leave a Comment{% endtrans %}:</h5>
                    <div class="card-body d-flex">
                        {{ include('comment/_form.html.twig') }}
                    </div>
                </div>

                {% for comment in project.comments %}
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.user }}</h5>
                            <h6>{{ comment.dateTile|date("m/d/Y") }}</h6>
                            {{ comment.message }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">{% trans %}Categories of project{% endtrans %}</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    {% for cat in project.categories %}
                                        <li>
                                            <a href="{{ path('category_show', {'id': cat.id}) }}">{{ cat }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <!-- état du financement -->
                <div class="card my-4">
                    <h5 class="card-header">{% trans %}Funding advancement{% endtrans %}</h5>
                    <div class="card-body">
                        <p class="card-text">{% trans %}This project is{% endtrans %} {{ project.statu }}</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar"
                                 style="width: {{ (project.goal - project.rest) / project.goal * 100 }}%"
                                 aria-valuenow="{{ (project.goal - project.rest) / project.goal * 100 }}"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="card-text">{{ project.goal - project.rest }} / {{ project.goal }} €</p>
                        <p class="card-text">{% trans %}This project need{% endtrans %} {{ project.rest }}
                            € {% trans %}before{% endtrans %} {{ project.limitDate|format_datetime(locale=app.request.locale) }}</p>
                    </div>
                </div>

            </div>

        </div>

    </div>



    {% if project.user == app.user %}
        <a href="{{ path('project_edit', {'id': project.id}) }}" id="editProject"
           class="btn">{% trans %}edit{% endtrans %}</a>
    {% endif %}
    <a href="{{ path('project_index') }}" class="btn backToList"
       style="margin-top: 0; margin-left: 0.5em">{% trans %}back to list{% endtrans %}</a>

{% endblock %}
