{% extends 'base.html.twig' %}

{% block title %}{% trans %}Project{% endtrans %}{% endblock %}

{% block body %}
    <h1 style="color: rgb(0,123,255);">{{ project.title }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ project.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Goal{% endtrans %}</th>
            <td>{{ project.Goal }}</td>
        </tr>
        <tr>
            <th>{% trans %}LimitDate{% endtrans %}</th>
            <td>{{ project.LimitDate ? project.LimitDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>{% trans %}Report{% endtrans %}</th>
            <td>{{ project.Report }}</td>
        </tr>
        <tr>
            <th>{% trans %}Up{% endtrans %}
                <i data-up="2" class="sub fas fa-thumbs-up"></i></th>
            <td>{{ project.Up }}</td>
        </tr>
        <tr>
            <th>{% trans %}Down{% endtrans %}
                <i data-up="2" class="sub fas fa-thumbs-down"></i></th>
            <td>{{ project.down }}</td>
        </tr>
        <tr>
            <th>{% trans %}Description{% endtrans %}</th>
            <td>{{ project.Description }}</td>
        </tr>
        <tr>
            <th>{% trans %}Miniature{% endtrans %}</th>
            <td>{{ project.Miniature }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('project_edit', {'id': project.id}) }}" id="editProject" class="btn">{% trans %}edit{% endtrans %}</a>
    <a href="{{ path('project_index') }}" class="btn backToList" style="margin-top: 0; margin-left: 0.5em">{% trans %}back to list{% endtrans %}</a>

{% endblock %}
