{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Profile</h1>


    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                             alt=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ user }}
                        </h5>
                        <h6>
                            {{ user.Email }}
                        </h6>
                        <h9>
                            {{ user.getFinancedProject()|length }} financed projects
                        </h9>
                    </div>
                </div>
                <div class="col-md-2">
                    <form action="{{ path('user_edit', {'id': user.id}) }}">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <h3>Your projects</h3>
                        {% if user.getProjects()|length < 1 %}
                            <div class="tab-pane fade show active" id="home">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>You have not project yet</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% for project in user.getProjects() %}
                                <div class="tab-pane fade show active" id="home">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{{ project }}</label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <h3>Followed projects</h3>
                        {% if user.getSubscriptions()|length < 1 %}
                            <div class="tab-pane fade show active" id="home">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>You have subscribe to nothing</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% for subscription in user.getSubscriptions() %}
                                <div class="tab-pane fade show active" id="home">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{{ subscription.Project }}</label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a href="{{ path('home') }}">back to home</a>
{% endblock %}
