{% extends 'base.html.twig' %}

{% block title %}{% trans %}User{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Profile{% endtrans %}</h1>

    <div class="container-fluid emp-profile">
        <form method="post" action="{{ path('user_edit') }}">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">

                        {% if user.picture %}
                            <img src="{{ user.picture }}"
                                 alt="User profile picture"/>
                        {% else %}
                            <img src="{{ asset('Resources/Logo.svg') }}"
                                 alt="User default profile picture" width="30%"/>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ user }}
                        </h5>
                        <h6>
                            {{ user.Email }}
                        </h6>
                        <h9>
                            {{ user.financedProject|length }} {% trans %}financed projects{% endtrans %}
                        </h9>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore"
                           value="{% trans %}Edit Profile{% endtrans %}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <h3>{% trans %}Your projects{% endtrans %}</h3>
                        {% if user.getProjects()|length < 1 %}
                            <div class="tab-pane fade show active" id="home">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{% trans %}You have not project yet{% endtrans %}</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="container-fluid d-inline-flex">
                                {% for project in user.projects %}
                                    {{ include('project/_project_card.html.twig') }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <h3>{% trans %}Followed projects{% endtrans %}</h3>
                        {% if user.projectSubscribed|length < 1 %}
                            <div class="tab-pane fade show active" id="home">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{% trans %}You have subscribe to nothing{% endtrans %}</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="container-fluid d-inline-flex">
                                {% for project in user.projectSubscribed %}
                                    {{ include('project/_project_card.html.twig') }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a href="{{ path('user_show') }}"><i id="up" class="fa fa-arrow-circle-up fa-3x"></i></a>
{% endblock %}
