{% extends 'base.html.twig' %}

{% block title %}{% trans %}User{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Profile{% endtrans %}</h1>

    <div class="container emp-profile">
        <form method="post" action="{{ path('user_edit') }}">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">

                        {% if user.picture %}
                            <img src="{{ user.picture }}"
                                 alt="User profile picture"/>
                        {% else %}
                            <img src="{{ asset('Resources/Logo.svg') }}"
                                 alt="User default profile picture" width="30%"/>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ user }}
                        </h5>
                        <h6>
                            {{ user.Email }}
                        </h6>
                        <h9>
{#                            {{ user.getFinancedProject()|length }} {% trans %}financed projects{% endtrans %}#}
                        </h9>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore"
                           value="{% trans %}Edit Profile{% endtrans %}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <h3>{% trans %}Your projects{% endtrans %}</h3>
                        {% if user.getProjects()|length < 1 %}
                            <div class="tab-pane fade show active" id="home">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{% trans %}You have not project yet{% endtrans %}</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% for project in user.getProjects() %}
                                <div class="tab-pane fade show active" id="home">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="{{ path('project_show', {'id': project.id}) }}" class="">{{ project.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <h3>{% trans %}Followed projects{% endtrans %}</h3>
                        {% if user.getProjectSubscribed()|length < 1 %}
                            <div class="tab-pane fade show active" id="home">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{% trans %}You have subscribe to nothing{% endtrans %}</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% for subscription in user.getProjectSubscribed() %}
                                <div class="tab-pane fade show active" id="home">
                                    <div class="row">
                                        <div class="col-md-6">
{#                                            <a href="{{ path('project_show', {'id': subscription.Project.id}) }}" class="">{{ subscription.Project.title }}</a>#}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a href="{{ path('home') }}" class="btn backToList">{% trans %}back to home{% endtrans %}</a>
{% endblock %}
